#wysiwyg {
	text-align: center;
	margin: auto;
	max-width: 500px;
}

#input-area {
	height: 200px;
	border: 1px solid #959595;
	padding: 5px;
	outline: none;
	overflow: auto;
	margin-top: 5px;
	text-align: left;
}

.dragging {
	background: #eee;
}

.btn-active {
	color: #eee;
	background: #959595;
	border: 1px solid #000;
}

button {
	background: #eee;
	border: 1px solid #959595;
	outline: none;
}

button, input, select {
	cursor: pointer;
}

#send {
	margin: 5px;
	float: right;
}
